ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

li {
  display: inline-block;
  border: 2px solid;
  border-radius: 7px;
  border-color: #8a8a8a;
  width: 250px;
  height: 270px;
  overflow: hidden;
  position: relative;
}

.img {
  max-width: 90vw;
  max-height: 80vh;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

li:hover img {
  transform: scale(1.1);
}

input {
  width: 200px;
  height: 36px;
  margin-right: 20px;
}

form {
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 7px;
  border-color: #8a8a8a;
  width: 440px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
